*{
    margin: 0%;
    padding: 0vh;
    font-family:Roboat Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:#ffff;
    background-repeat: no-repeat
}

.logo{
    color: white;
    right: 95%;
   
}

.dive{
    width: 25px;
    height: 20px;
    margin-left: 50%;
    margin-top:30px ;
}

.hamber{
    width: 18px;
    height: 20px;
    margin-top: 30px;
    margin-left: 30px;
    
}

.hi{
    width: 25px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.expo{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.sho{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.subs{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 35px;
}

.libra{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.hister{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.vid{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.lat{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.lik{
    width: 15px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.kai{
    width: 25px;
    height: 15px;
    margin-top: 10px;
    margin-left: 30px;
}

.MEMBERS{
    width: 25px;
    height: 15px;
    margin-top: 10px;
    margin-left: 30px; 
}

.on{
    width: 30px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;
}

.studio{
    width: 30px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;
}

.mk{
    width: 30px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;
}

.fig{
    width: 30px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;
}

.Act{
    width: 33px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;

}

.Alux{
    width: 30px;
    height: 24px;
    margin-top: 10px;
    margin-left: 30px;
}

.gi{
    width: 30px;
    height: 23px;
    margin-top: 10px;
    margin-left: 30px;
}

.hom{
margin-left: 10px;
margin-top: 15px;
}

.explor{
    margin-left: 10px;
margin-top: 15px;
}

.shorts{
    margin-left: 10px;
    margin-top: 15px;
}

.viwe{
    margin-left: 10px;
    margin-top: 15px;
}

.watch{
    margin-left: 10px;
    margin-top: 15px;
}

.your{
    margin-left: 10px;
    margin-top: 15px;
}

.late{
    margin-left: 10px;
    margin-top: 15px;
}

.likeds{
    margin-left: 10px;
    margin-top: 15px;
}

.kait{
    margin-left: 10px;
    margin-top: 15px;
}

.Nadir{
    margin-left: 10px;
    margin-top: 15px;
}

.coke{
    margin-left: 10px;
    margin-top: 15px;
}

.mkd{
    margin-left: 10px;
    margin-top: 15px;
}

.figm{
    margin-left: 10px;
    margin-top: 15px;
}

.toto{
    margin-left: 10px;
    margin-top: 15px;
}

.com{
margin-left: 10px;
margin-top: 15px;
}

.gime{
    margin-left: 10px;
    margin-top: 15px;
}

.god{
    margin-left: 10px;
    margin-top: 15px;
}